<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sape-tms-proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.sapient.tms.controller.accounts.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.sapient.tms.controller.accounts.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.sapient.tms.controller.accounts.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertVehicle</display-name>
    <servlet-name>InsertVehicle</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.vehicle.InsertVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertVehicle</servlet-name>
    <url-pattern>/InsertVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicle</display-name>
    <servlet-name>DeleteVehicle</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.vehicle.DeleteVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicle</servlet-name>
    <url-pattern>/DeleteVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicle</display-name>
    <servlet-name>UpdateVehicle</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.vehicle.UpdateVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicle</servlet-name>
    <url-pattern>/UpdateVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllVehicles</display-name>
    <servlet-name>DisplayAllVehicles</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.vehicle.DisplayAllVehiclesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllVehicles</servlet-name>
    <url-pattern>/DisplayAllVehicles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchVehicle</display-name>
    <servlet-name>SearchVehicle</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.vehicle.SearchVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchVehicle</servlet-name>
    <url-pattern>/SearchVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEmployee</display-name>
    <servlet-name>InsertEmployee</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.employee.InsertEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEmployee</servlet-name>
    <url-pattern>/InsertEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.employee.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.employee.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmployee</display-name>
    <servlet-name>SearchEmployee</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.employee.SearchEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmployee</servlet-name>
    <url-pattern>/SearchEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllEmployees</display-name>
    <servlet-name>DisplayAllEmployees</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.employee.DisplayAllEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllEmployees</servlet-name>
    <url-pattern>/DisplayAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDrop</display-name>
    <servlet-name>InsertDrop</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.drop.InsertDropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDrop</servlet-name>
    <url-pattern>/InsertDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDrop</display-name>
    <servlet-name>UpdateDrop</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.drop.UpdateDropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDrop</servlet-name>
    <url-pattern>/UpdateDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDrop</display-name>
    <servlet-name>DeleteDrop</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.drop.DeleteDropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDrop</servlet-name>
    <url-pattern>/DeleteDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDrop</display-name>
    <servlet-name>SearchDrop</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.drop.SearchDropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDrop</servlet-name>
    <url-pattern>/SearchDrop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllDrops</display-name>
    <servlet-name>DisplayAllDrops</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.drop.DisplayAllDropsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllDrops</servlet-name>
    <url-pattern>/DisplayAllDrops</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRoute</display-name>
    <servlet-name>InsertRoute</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.route.InsertRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRoute</servlet-name>
    <url-pattern>/InsertRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoute</display-name>
    <servlet-name>DeleteRoute</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.route.DeleteRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoute</servlet-name>
    <url-pattern>/DeleteRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoute</display-name>
    <servlet-name>UpdateRoute</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.route.UpdateRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoute</servlet-name>
    <url-pattern>/UpdateRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRoute</display-name>
    <servlet-name>SearchRoute</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.route.SearchRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRoute</servlet-name>
    <url-pattern>/SearchRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllRoutes</display-name>
    <servlet-name>DisplayAllRoutes</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.route.DisplayAllRoutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllRoutes</servlet-name>
    <url-pattern>/DisplayAllRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRide</display-name>
    <servlet-name>InsertRide</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.ride.InsertRideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRide</servlet-name>
    <url-pattern>/InsertRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRide</display-name>
    <servlet-name>UpdateRide</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.ride.UpdateRideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRide</servlet-name>
    <url-pattern>/UpdateRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRide</display-name>
    <servlet-name>SearchRide</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.ride.SearchRideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRide</servlet-name>
    <url-pattern>/SearchRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllRides</display-name>
    <servlet-name>DisplayAllRides</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.ride.DisplayAllRidesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllRides</servlet-name>
    <url-pattern>/DisplayAllRides</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRide</display-name>
    <servlet-name>DeleteRide</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.ride.DeleteRideServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRide</servlet-name>
    <url-pattern>/DeleteRide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequests</display-name>
    <servlet-name>ViewRequests</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.request.ViewRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequests</servlet-name>
    <url-pattern>/ViewRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequests</display-name>
    <servlet-name>UpdateRequests</servlet-name>
    <servlet-class>com.sapient.tms.controller.db.request.UpdateRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequests</servlet-name>
    <url-pattern>/UpdateRequestsServlet</url-pattern>
  </servlet-mapping>
</web-app>